<%= turbo_frame_tag "cart" do %>
  <% if @cart.orderables.count > 0%>
    <%= render "cart/orderables" %>
    <div class="d-flex flex-row-reverse">
      <% if current_user.present?%>
      <%= form_with(url: checkout_create_path, method: :get) do |f|%>
              <%= f.submit "Buy Now!", class: "btn btn-outline-dark"%>
        <%end%>
        <p class="p-2">Sub-Total (before tax): <%= @cart.total %></p>
      <%else%>
        <p>Please <a href=<%=new_user_registration_path%>>sign up</a> or <a href=<%=user_session_path%>>log in</a> to continue checkout.</p>
      <% end%>
    </div>
  <%else%>
  <div class="d-flex flex-row-reverse">
    <h1><i class="bi bi-cart-x"></i></h1>
    </div>
  <% end %>
<% end %>