<% @cart.orderables.each do |orderable|%>
    <% @product = orderable.product%>
    <div id="<%= "cart-#{@product.id}"%>">
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title"><%=@product.category.name%> - <%=@product.name%></h4>
          <% if @product.discount_price.nil?%>
            <p class="card-text">
              $ <%=@product.price %>
            </p>
          <%else%>
          <p class="card-text, text-muted"><s>
            $<%=@product.price %>
            </s>
          </p>
          <p class="card-text, text-danger">
          <strong>
            Sale: $<%=@product.discount_price%>
            </strong>
          </p>
          <%end%>
          <%= form_with(url: cart_add_path) do |f|%>
            <%= f.hidden_field :id, value: @product.id %>
            <%= f.number_field :quantity, value: orderable.quantity, min: 0 ,  class:"w-25 p-1 mb-3"%>
            <%= f.submit "Add to Cart"%>
          <%end%>

          <%= form_with(url: cart_remove_path) do |f|%>
            <%= f.hidden_field :id, value: orderable.id %>
            <%= f.submit "X"%>
          <%end%>
          <strong>Total:</strong>
          <%= orderable.total%>
        </div>
      </div>
    </div>
<%end%>