<%if @cart.orderables.count > 0 %>
  <h3>Your Invoice</h3>
  <p>Your transaction was successful</p>
  <p>Here is your order review: </p>
  <div class="card">
    <div class="card-body mx-4">
      <div class="container">
        <p class="my-5 mx-5" style="font-size: 30px;">Thank for your purchase</p>
        <div class="row">
          <ul class="list-unstyled">
            <li class="text-black">Customer Name: <%=@current_user.first_name%> <%=@current_user.last_name%></li>
            <li class="text-black mt-1">Order Date: <%=Date.today.to_formatted_s(:long)%></li>
            <li class="text-black mt-1">Order Status: <%=@session.payment_status.capitalize%></li>
          </ul>
          <hr>
          <% @cart.orderables.each do |orderable| %>
              <% product = orderable.product %>
              <div class="col-xl-10">
                <p><%= product.category.name%> - <%= product.name%> * <%=orderable.quantity%></p>
              </div>
              <div class="col-xl-2">
                <p class="float-end"><%=orderable.total%></p>
              </div>
          <hr>
        <% end %>
        <% @taxes.each do |tax|%>
          <% @total_tax = 0%>
          <% if tax.GST.present?%>
          <div class="col-xl-12">
            <p class="float-end">GST: <%=(@cart.total * tax.GST).truncate(2)%>
            </p>
          </div>
          <hr>
          <% @total_tax = (@cart.total * tax.GST).truncate(2) %>
          <%end%>
          <% if tax.PST.present?%>
          <div class="col-xl-12">
            <p class="float-end">PST: <%=(@cart.total * tax.PST).truncate(2)%>
            </p>
          </div>
          <hr>
          <% if tax.GST.present? && tax.PST.present?%>
            <% @total_tax = (@cart.total * tax.GST).truncate(2) + (@cart.total * tax.PST).truncate(2)%>
          <%elsif tax.PST.present?%>
           <% @total_tax = (@cart.total * tax.PST).truncate(2)%>
          <%end%>
          <%end%>
          <% if tax.HST.present?%>
            <div class="col-xl-12">
              <p class="float-end">HST: <%=(@cart.total * tax.HST).truncate(2)%>
              </p>
            </div>
            <hr>
          <% @total_tax = (@cart.total * tax.HST).truncate(2)%>
          <%end%>
        <%end%>
        </div>
          <hr style="border: 2px solid black;">
        </div>
        <div class="row text-black">

          <div class="col-xl-12">
            <p class="float-end fw-bold">Total: $<%=(@cart.total + @total_tax).truncate(2) %>
            </p>
          </div>
          <hr style="border: 2px solid black;">
        </div>
      </div>
    </div>
  </div>
  <% session[:cart_id] = []%>
  <div class="mt-6">
  <%= link_to "Return to home", root_path ,class: "btn btn-dark"%>
  </div>
<%else%>
<h3>Your session has expired. Please return home</h3>
<div class="p-6">
  <%= link_to "Return to home", root_path ,class: "btn btn-dark"%>
</div>
<%end%>