<aside>
  <h1><%=@category_name.name%> Laptops</h1>
  <div class="row">
  <% @laptops_in_category.each do |laptop_in_category|%>
    <% if laptop_in_category.image.present? %>
  <div class="col-sm-3">
  <div class="card" style="width: 18rem;">
      <h4 class="card-title"><%=laptop_in_category.name%></h4>
      <div class="card-img-top" alt=<% laptop_in_category.name%>>
        <%= image_tag laptop_in_category.image.variant(resize_to_limit: [285, 285]).processed %>
      </div>
    <%end%>
    <div class="card-body">
      <p class="card-text">
        <%=laptop_in_category.screen%> Screen,
        <%=laptop_in_category.screen_size%> Screen Size,
        <%=laptop_in_category.cpu%> CPU,
      </p>
      <p class="card-text">
        <%=laptop_in_category.gpu%> GPU,
        <%=laptop_in_category.ram%> RAM,
      </p>
      <p class="card-text">
        <%=laptop_in_category.operating_system%>
        <%=laptop_in_category.operating_system_version %>
      </p>
    </div>
  </div>
  </div>
  <%end%>
  </div>
</aside>
