<h1 class="mt-5">Search results</h1>
  <% if params[:category_id].present? && params[:keywords].present?%>
  <% @category.each do |ctgry|%>
    <h4 class="mt-1">
    Your search for <%=params[:keywords]%> in <%= ctgry.name%> category found <%= pluralize(@products.total_count, 'laptop')%>
    </h4>
  <%end%>
  <% elsif params[:category_id].present?%>
  <% @category.each do |ctgry|%>
  <h4 class="mt-1">
    Your search for <%= ctgry.name %> category found <%= pluralize(@products.total_count, 'laptop')%>
    </h4>
  <%end%>
  <% else %>
  <h4 class="mt-1">
    Your search for <%=params[:keywords]%> found <%= pluralize(@products.total_count, 'laptop')%>
    </h4>
  <%end%>

<div class="d-flex flex-row-reverse">
  <%= paginate @products%>
</div>
<div class="row">
  <% @products.each do |product|%>
    <% if product.image.present? %>
  <div class="col-sm-3">
  <div class="card" style="width: 18rem;">
      <h4 class="card-title"><%=product.category.name%> - <%=product.name%></h4>
      <div class="card-img-top" alt=<% product.name%>>
        <%= image_tag product.image.variant(resize_to_limit: [285, 285]).processed %>
      </div>
    <%end%>
    <div class="card-body">
      <p class="card-text">
        <%=product.screen%> Screen,
        <%=product.screen_size%> Screen Size,
        <%=product.cpu%> CPU,
      </p>
      <p class="card-text">
        <%=product.gpu%> GPU,
        <%=product.ram%> RAM,
      </p>
      <p class="card-text">
        <%=product.operating_system%>
        <%=product.operating_system_version %>
      </p>
      <p class="card-text">
        <%=product.storage%>
        $ <%=product.price %>
      </p>
      <%= link_to "See laptop details", product, class: "btn btn-dark"%>
    </div>
  </div>
  </div>
  <%end%>
  </div>