    <% if @product.image.present? %>
  <div class="col-sm-3">
  <div class="card" style="width: 18rem;">
      <h4 class="card-title"><%=@product.category.name%> - <%=@product.name%></h4>
      <div class="card-img-top" alt=<% @product.name%>>
        <%= image_tag @product.image.variant(resize_to_limit: [285, 285]).processed %>
      </div>
    <%end%>
    <div class="card-body">
      <p class="card-text">
        <%=@product.screen%> Screen,
        <%=@product.screen_size%> Screen Size,
        <%=@product.cpu%> CPU,
      </p>
      <p class="card-text">
        <%=@product.gpu%> GPU,
        <%=@product.ram%> RAM,
      </p>
      <p class="card-text">
        <%=@product.operating_system%>
        <%=@product.operating_system_version %>
      </p>
      <% if @product.discount_price.nil?%>
        <p class="card-text">
          <%=@product.storage%>
          $ <%=@product.price %>
        </p>
      <%else%>
       <p class="card-text">
        <%=@product.storage%>
      </p>
      <p class="card-text, text-muted"><s>
        $<%=@product.price %>
        </s>
      </p>
      <p class="card-text, text-danger">
      <strong>
        Sale: $<%=@product.discount_price%>
        </strong>
      </p>
      <%end%>
       <% if @cart.include?(@product) %>
        <%= link_to "Remove from cart", remove_from_cart_path(id: @product.id), method: :delete, class: "btn btn-dark" %>
        <% else %>
            <%= link_to "Add to cart", add_to_cart_path(id: @product.id), class: "btn btn-dark" %>
        <% end %>
      <%= link_to "Buy now", checkout_create_path(id: @product.id), remote: true, method: :post,class: "btn btn-dark"%>
    </div>
  </div>
  </div>