<h1 class="mt-5">Recently Update Items</h1>
<h4 class="mt-1">
    Your search for recently updated items found <%= pluralize(@updates.count, 'laptop')%>
    </h4>

<div class="row">
  <% @updates.each do |update|%>
    <% if update.image.present? %>
  <div class="col-sm-3">
  <div class="card" style="width: 18rem;">
      <h4 class="card-title"><%= update.category.name%> - <%=update.name%></h4>
      <div class="card-img-top" alt=<% update.name%>>
        <%= image_tag update.image.variant(resize_to_limit: [285, 285]).processed %>
      </div>
    <%end%>
    <div class="card-body">
      <p class="card-text">
        <%=update.screen%> Screen,
        <%=update.screen_size%> Screen Size,
        <%=update.cpu%> CPU,
      </p>
      <p class="card-text">
        <%=update.gpu%> GPU,
        <%=update.ram%> RAM,
      </p>
      <p class="card-text">
        <%=update.operating_system%>
        <%=update.operating_system_version %>
      </p>
      <p class="card-text">
        <%=update.storage%>
      </p>
      <p class="card-text, text-muted"><s>
        $<%=update.price %>
        </s>
      </p>
      <p class="card-text, text-danger">
      <strong>
        Sale: $<%=update.discount_price%>
        </strong>
      </p>
      <%= link_to "See laptop details", update, class: "btn btn-dark"%>
    </div>
  </div>
  </div>
  <%end%>
  </div>